.container {
    height: 400px;
    font-family: "Segoe UI";
    display: flex;
}

.container div {
    display: flex;
    flex: 1;
}

.about {
    display: flex;
    color: #fff;
    margin: 5px;
    height: 100%;
    background: rgb(78, 24, 179) url(../../assets/DSC_2970.JPG) no-repeat center center/cover;
}

.link {
    display: flex;
    flex: 1;
    text-decoration: none;
}

.about .link .Showcase {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
    padding: 1rem;
    background: linear-gradient( to bottom, rgba(0, 122, 179, 0) 60%, rgb(207, 219, 30));
}

.Showcase h1 {
    font-size: 2vw;
}

.Showcase p {
    font-size: 1.5vw;
}

.sell {
    display: flex;
    color: #fff;
    margin: 5px;
    height: 100%;
    background: rgb(78, 24, 179) url(../../assets/DSC_2973.JPG) no-repeat center center/cover;
}

.sell .link .Showcase {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
    padding: 1rem;
    background: linear-gradient( to bottom, rgba(0, 122, 179, 0) 60%, rgb(173, 24, 211));
}

.buy {
    display: flex;
    margin: 5px;
    height: 100%;
    background: rgb(78, 24, 179) url(../../assets/DSC_2973.JPG) no-repeat center center/cover;
}

.buy .link .Showcase {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
    padding: 1rem;
    background: linear-gradient( to bottom, rgba(0, 122, 179, 0) 60%, rgb(62, 211, 16));
}

.sale {
    display: flex;
    color: #fff;
    margin: 5px;
    height: 100%;
    background: rgb(78, 24, 179) url(../../assets/DSC_2973.JPG) no-repeat center center/cover;
}

.sale .link .Showcase {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
    padding: 1rem;
    background: linear-gradient( to bottom, rgba(0, 122, 179, 0) 60%, rgb(240, 108, 19));
}

.management {
    display: flex;
    margin: 5px;
    height: 100%;
    background: rgb(78, 24, 179) url(../../assets/DSC_2973.JPG) no-repeat center center/cover;
}

.management .Showcase {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
    padding: 1rem;
    background: linear-gradient( to bottom, rgba(0, 122, 179, 0) 60%, rgb(44, 23, 231));
}

.fadeUp {
    opacity: 0;
    animation: fadeAnimation 0.5s forwards;
}

@keyframes fadeAnimation {
    0% {
        opacity: 0;
        transform: translate(10px, 10px);
    }
    75% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

.container div:nth-child(2) {
    animation-delay: 0.2s;
}

.container div:nth-child(3) {
    animation-delay: 0.3s;
}

@media (max-width: 599px) {
    .container {
        height: auto;
        flex-direction: column;
    }
    .container div {
        display: flex;
        flex-direction: column;
    }
    .about {
        background: #fff;
    }
    .about .link .Showcase {
        background: rgb(207, 219, 30);
    }
    .sell {
        background: #fff;
    }
    .sell .link .Showcase {
        background: rgb(173, 24, 211);
    }
    .buy {
        height: 100%;
        background: #fff;
    }
    .buy .link .Showcase {
        background: rgb(62, 211, 16);
    }
    .sale {
        background: #fff;
    }
    .sale .link .Showcase {
        background: rgb(240, 108, 19);
    }
    .management {
        background: #fff;
    }
    .management .link .Showcase {
        background: rgb(44, 23, 231);
    }
    .Showcase h1 {
        font-size: 5vw;
    }
    .Showcase p {
        font-size: 2vw;
    }
}