@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
header {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: auto;
}

.icon1,
.icon2,
.icon3 {
    position: absolute;
    left: 25%;
    top: 50%;
    width: 32px;
    height: 3px;
    background: rgb(15, 15, 15);
    transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
}

.icon1 {
    transform: translateY(-8px);
    animation-delay: 100ms;
}

.icon3 {
    transform: translateY(8px);
    animation-delay: 250ms;
}

.hamburgerIcon {
    position: absolute;
    height: 60px;
    width: 60px;
    top: 10%;
    left: 3%;
    z-index: 1000;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    background: rgba(255, 255, 255, 0.2);
}

.hamburgerIcon:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.a {
    transform: rotate(40deg);
}

.b {
    transform: rotate(-40deg);
}

.c {
    opacity: 0;
}

.clear {
    clear: both;
}

@keyframes slideIn {
    0% {
        width: 0%;
        opacity: 0;
    }
    100% {
        width: 50%;
        opacity: 1;
    }
}

nav {
    background: rgba(0, 0, 0, 0.5);
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    z-index: 10;
    opacity: 1;
    transition: all 600ms cubic-bezier(0.62, 0.04, 0.3, 1.56);
    transition-delay: 100ms;
}

nav ul {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 40%;
}

nav ul li {
    list-style: none;
    font-size: 24px;
    color: #fff;
    line-height: 2.2;
    text-transform: uppercase;
    letter-spacing: 1.7px;
}

nav.show {
    width: 50%;
    opacity: 1;
}

.darkBlue {
    position: absolute;
    top: 0;
    left: 0;
    background: #64b5f6;
    height: 100%;
    width: 0%;
    transition: all 500ms cubic-bezier(0.62, 0.04, 0.3, 1.8);
    transition-delay: 50ms;
    z-index: 5;
    opacity: 1;
}

.slide {
    width: 50%;
    opacity: 1;
}

@keyframes shotup {
    0% {
        transform: translateY(300%);
        opacity: 0;
    }
    90% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}


/* mainPage */

.light {
    display: flex;
    flex-direction: row;
    font-family: "Segoe-UI";
    height: 100px;
    position: sticky;
    background-color: #053e79;
    color: #f3ebf6;
    align-items: center;
    top: 10;
    justify-content: flex-end;
    padding: 1rem;
}

.dark {
    display: flex;
    flex-direction: row;
    font-family: "Segoe-UI";
    height: 60px;
    position: sticky;
    background-color: #646262;
    color: #f3ebf6;
    align-items: center;
    top: 10;
    justify-content: flex-end;
    padding: 1rem;
}