/* utility class */

@media (min-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    .mHeading {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 0.75rem;
        line-height: 1.1;
    }
    .py1 {
        padding: 1.5rem 0;
    }
    .py2 {
        padding: 2rem 0;
    }
    .py3 {
        padding: 3rem 0;
    }
    /* Section Бид юу хийдэг вэ? */
    .container .items {
        display: flex;
        flex-direction: row;
    }
    .container .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .container .item h3 {
        padding: 1rem 1rem;
    }
    .TextPrimary {
        color: #007ab3;
        margin-right: 0.5rem;
    }
}

@media (max-width: 599px) {}