@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("http://fonts.cdnfonts.com/css/segoe-ui-4");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Toolbar {
    display: flex;
    height: 80px;
    position: sticky;
    background-color: #f3f3f3;
    color: #000;
    justify-content: center;
    align-items: center;
    top: 0;
    justify-content: space-between;
    z-index: 90;
    padding: 1rem;
}

.Toolbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.Toolbar ul select {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #302a2a;
    color: #007ab3;
    padding: 0.75rem;
    margin: 0 0.25rem;
    font-size: 1.2rem;
    background: none;
    border: none;
}

.Toolbar ul select option:hover {
    background-color: #f3f3f3;
    color: #007ab3;
    padding: 0.75rem;
    margin: 0 0.25rem;
    font-size: 1.3rem;
    transition: 0.2s ease-in;
}

.Toolbar ul li a {
    color: #007ab3;
    padding: 0.75rem;
    margin: 0 0.25rem;
    font-size: 1.3rem;
}

.Toolbar ul li a:hover {
    background: #80bdd9;
    border-radius: 5px;
    transition: transform 250ms, opacity 400ms, ease-in;
}

.Toolbar body {
    font-family: "Segoe UI, Tahoma, Geneva, Verdana, sans-serif";
}

a {
    text-decoration: none;
}

p {
    margin: 0.75rem, 0;
}

color {
    background: #5e5959;
    color: #585353;
    color: #000;
}


/* utility class */