@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("http://fonts.cdnfonts.com/css/segoe-ui-4");
.dropdwn {
    margin: 0 auto;
}

.light {
    display: flex;
    font-family: "Segoe-UI";
    height: 100px;
    position: sticky;
    background-color: #f3ebf6;
    color: #053e79;
    align-items: center;
    top: 10;
    justify-content: space-between;
    z-index: 90;
    padding: 1rem;
}

.dark {
    display: flex;
    font-family: "Segoe-UI";
    height: 100px;
    position: sticky;
    background-color: #303030;
    color: #f3ebf6;
    align-items: center;
    top: 0;
    justify-content: space-between;
    z-index: 90;
    padding: 1rem;
}

.light ul li a {
    color: #053e79;
}

.dark ul li a {
    color: #f3ebf6;
}

.logoContent {
    display: flex;
    align-items: center;
}

.logoContent .primaryText {
    color: #e70404;
    margin: 5px;
}

.logoContent .logo {
    padding: 5px 0 0 30px;
    width: 100px;
    height: auto;
}

nav ul {
    padding: 0;
    margin: 0;
    float: right;
    margin-right: 30px;
}

nav ul li {
    position: relative;
    list-style: none;
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 0 15px;
    text-decoration: none;
    font-size: 20px;
}

nav ul li a:hover {
    background: #c0bdbd;
}

nav ul ul {
    position: absolute;
    top: 40px;
    display: none;
}

nav ul li:hover>ul {
    display: block;
}

nav ul ul li {
    width: 150px;
    float: none;
    display: list-item;
    position: relative;
    padding: 10px 0px;
}

.wrap {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}


/* 
.wrapMenu {
    display: flex;
    align-items: center;
}



.logoContent span {
    margin: 5px;
    color: #93cb52;
}

.Toolbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.Toolbar ul select {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #302a2a;
    color: #007ab3;
    padding: 0.75rem;
    margin: 0 0.25rem;
    font-size: 1.2rem;
    background: none;
    border: none;
}

.Toolbar ul select option:hover {
    background-color: #f3f3f3;
    color: #007ab3;
    padding: 0.75rem;
    margin: 0 0.25rem;
    font-size: 1.3rem;
    transition: 0.2s ease-in;
}

.Toolbar ul li a {
    color: #007ab3;
    padding: 0.75rem;
    margin: 0 0.25rem;
    font-size: 1.3rem;
}

.Toolbar ul li a:hover {
    background: #80bdd9;
    border-radius: 5px;
    transition: transform 250ms, opacity 400ms, ease-in;
}

.Toolbar body {
    font-family: "Segoe UI, Tahoma, Geneva, Verdana, sans-serif";
}


/* .LinkStyle {
    text-decoration: none;
} */


/* a {
    text-decoration: none;
}

p {
    margin: 0.75rem, 0;
}

color {
    background: #5e5959;
    color: #585353;
    color: #000;
} */