#showcase {
    background: rgb(78, 24, 179) url(../../assets/contracosta.png) no-repeat center center/cover;
    height: 100vh;
    color: #fff;
}

#showcase .showcaseContent {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0, 2rem;
    /* overlay effect */
    position: absolute;
    top: 80px;
    left: 0px;
    background: linear-gradient( to bottom, rgba(0, 122, 179, 0) 60%, rgba(0, 122, 179, 1));
}

.lHeading {
    font-size: 5rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.lead {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.btn {
    display: inline-block;
    color: #fff;
    background: #007ab3;
    padding: 0.5rem 2rem;
    border: #007ab3;
    border-radius: 1px;
    border-style: solid;
    border-width: 0.3rem;
    font-size: 1.5rem;
}

.btn:hover {
    background: rgba(33, 36, 179, 0);
    border: #007ab3;
    border-style: solid;
    border-width: 0.3rem;
}