* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.switch {
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.light {
    background-color: #f3ebf6;
}

.dark {
    background-color: #303030;
}